export(NetGSA,
       prepareAdjacencyMatrix,
       preparePathways,
       netEst.dir,
       netEst.undir,
       bic.netEst.undir)
import(corpcor, glassoFast, glmnet, graph, igraph, Matrix, MSigDB, quadprog)
importFrom("stats", "coef", "cov", "lm", "p.adjust", "pf", "pt", 
           "qnorm", "residuals", "sd")
importFrom("utils", "read.csv")
