export(NetGSA,
       prepareAdjacencyMatrix,
       prepareAdjacencyMatrixDB,
       preparePathways,
       netEst.dir,
       netEst.undir,
       bic.netEst.undir)
import(data.table)
import(glassoFast, Matrix)
importFrom("stats", "coef", "cov", "lm", "p.adjust", "pf", "pt", 
           "qnorm", "residuals", "sd")
importFrom("utils", "read.csv")
importFrom("quadprog","solve.QP")
importFrom("corpcor", "pseudoinverse")
importFrom("rlang",".data")
importFrom("magrittr", "%>%")
importFrom("graph","subGraph")
importFrom("graph","nodes")
importFrom("graphite", "pathwayGraph")
importFrom("graphite", "convertIdentifiers")
